[2022-04-17 06:00] queesamor commented on #57
I am just getting caught up with the last few months' progress now, so not yet for me.

------- Original Message -------
On Thursday, April 14th, 2022 at 05:49, Bryan Berns ***@***.***> wrote:

[2022-04-18 00:12] velosol commented on #57
Tested using a YubiKey 5 NFC & 5ci - able to create resident & non-resident keys with touch required (tested resident p256, p384, p521, & non-resident ed25519); no other hardware PIV/CAPI/etc certs present during test.

## Issues noted
* Missing a word under FIDO Keygen page -> User Name caption -> "... identifier that *can* be used ..."
* puttyimp.exe - doesn't seem to work from PuTTY
    * Runni

[2022-04-18 11:35] NoMoreFood commented on #57
@velosol Thanks for the testing and the great feedback.  I will go over your items in detail after the day job today or tomorrow.

[2022-04-19 00:00] NoMoreFood commented on #57
@velosol The only part I am having an issue with reproducing/understanding is the fact that PuTTYImp would not launch from the user interface with you.  Are either the following true? PuTTYImp is launched from a path with over 256 characters?  If you right click on PuTTYImp.exe and go to properties, do you see an option to 'Unblock' the executable?  If so, does unblocking it change behavior?

[2022-04-19 09:27] basgoossen opened #91 "CAPI dialog focus is inconsistent; could result in keyboard data being sent to wrong window"
Whilst performing a CAC login on Putty, putty remains in the foreground when the Windows CAPI dialogs are shown (i.e. to enter pin or to touch device), this seems a windows issue, however:

Keystrokes made with Putty in the foreground are later passed trough SSH after the login procedure is completed. This can lead to unwanted results and is even prone to security risks. Some more likely than othe

[2022-04-19 12:02] NoMoreFood commented on #91
I'm working on some Window focus issues for the new FIDO code I'm working on so I'll revisit this.  Regardless of the application, it's always good to be extra careful what window has focus when entering sensitive information.  Renaming the title to be slightly less alarmist :-)

[2022-04-19 13:29] NoMoreFood commented on #57
@velosol

I have updated the binaries: https://github.com/NoMoreFood/putty-cac/tree/fido_dev_branch/binaries

Notable changes thus far:

- Attempted to address focus issues
- PuTTYImp should not be consistently executable from PuTTY
- Added suggested guidance on multiple tokens
- Set username field to static value; no clear benefit to allowing user to customize
- Correct noted typo

[2022-04-20 05:38] velosol commented on #57
@NoMoreFood Lots of improvements in this build, nice work!
* I haven't had any focus issues in testing
* After clearing the key cahce; I can run PuTTYImp from PuTTY-CAC and it prompts for elevation and runs (and I see 'Total Keys Imported: 5' after entering my PIN), also it's being run from a path with 54 characters in it.
  * When I then click 'Set FIDO Key...' I get "No certificates available":

[2022-04-20 07:22] NoMoreFood commented on #57
@velosol

- I found the PubKeyBlobs population issue (coding copy/paste issue on my end).  They way it's run via the GUI is unique because I tried to take into account that the user needed to elevate might not be the same account as the one that is SSHing so I pass in the user SID to PuTTYImp and it binds to the registry under HKU\SID to create the subkeys.  I'll bucket up some other changes befor

[2022-04-20 16:23] velosol commented on #57
I knew I was forgetting something last night - my last thought on key management is whether it's possible to utilize a resident key on a machine where you didn't create it and don't have admin. Especially useful moving a token between machines in a locked down environment.

I assume you'd have to know the 'Application Name' but I don't know if Windows Hello allows a query with just the relying par

[2022-04-21 10:12] NoMoreFood commented on #91
@basgoossen To help me along, can you provide for me the specifics of your environment?   What version / feature update of Windows?  What version of PuTTY is being used?  What is the make and model of your token?  Are you doing agent forwarding?  Is Pageant being used?  And anything else that you think could help.

[2022-04-23 17:50] NoMoreFood commented on #57
Updated version available: https://github.com/NoMoreFood/putty-cac/tree/fido_dev_branch/binaries

- Added prompt post-key generation to set key.
- Changed PuTTYImp to only request PIN if indicated it was necessary by the token (usually is in most cases).
- Added option to delete key in KeyGen area (requires elevation).
- Force focus to Pageant before requesting a signature to aid with focus change

[2022-04-24 09:36] NoMoreFood commented on #91
@basgoossen If it was with Pageant, specifically, see if these binaries help: https://github.com/NoMoreFood/putty-cac/tree/fido_dev_branch/binaries

[2022-05-02 19:43] Eivor78 opened #92 "PuTTY CAC 0.76 Update 4 missing certificate in SSH menu"
This version is missing the certificate folder under Connection/SSH so that you can load your PIV or CAC card certificates. Please enable this for this release. It was available in older releases.

[2022-05-02 21:28] NoMoreFood commented on #92
Can you please private a link to the download you are not seeing the Certificate menu in?

[2022-05-06 05:48] NoMoreFood commented on #92
@Eivor78 Let me know which link doesn't seem to be looking for you.

[2022-05-06 05:49] NoMoreFood commented on #91
Closing due to non-responsiveness.

[2022-05-06 05:49] #91 closed

[2022-05-06 05:49] NoMoreFood commented on #90
Closing since this has been implemented in the pre-release.

[2022-05-06 05:49] #90 closed

[2022-05-06 05:53] NoMoreFood commented on #48
Well, good news on the RFC6187 front - the upstream PuTTY code should be getting those features for the 0.78 release.  I know this is not what some people might be looking for, but I think it's the best we're going to do for now.

[2022-05-06 05:53] #48 closed

[2022-05-06 05:53] #66 closed

[2022-05-06 05:54] NoMoreFood commented on #85
Thanks for the idea, but not plan to implement this feature.  Recommend requesting it at the PuTTY level.

[2022-05-06 05:54] #85 closed

[2022-05-10 02:17] NoMoreFood commented on #92
Closing since I cannot reproduce.  Will reopen if @Eivor78 responds.

[2022-05-10 02:17] #92 closed

[2022-05-13 07:17] basgoossen commented on #91
Hi NoMoreFood, at first my appologies for the non-responsiveness. For some reason i did not receive notifications about changes in this thread. Second thank you for your responses and work done. The situation improved when using both the new Putty.exe and peagent.exe. The focus is correctly shifted to the CAPI dialog.
So the risc of accidentaly typing pin code information is severely reduced.
What

[2022-05-13 11:29] NoMoreFood commented on #91
@basgoossen I understand what you're saying; I think is just a consequence of PuTTY (upstream) works and you'd end up seeing the problem with other authentication methods including standard public key authentication and password authentication if you mashed the keyboard at the right time before getting a shell prompt.  And, unfortunately, clearing that input buffer could negatively affect scenario

[2022-05-13 12:05] basgoossen commented on #91
If other authentications in standard Putty also exhibit this problem, this should indeed not be on your list but on Putty's. Also there it can be considered acceptable. I just noticed the scenario and it felt like a possible risk. I am a frequent Putty user and never noticed this behaviour before with other authentication methods. However that does not mean it does not exist there, i just never no

[2022-05-16 13:47] raphj92 commented on #57
@NoMoreFood

I tried putty-cac with my SafeNet IDPrime 3940 from Thales which works well with Windows Hello.
It is a smartcard that support PKI and FIDO2 through contact and contactless access (ISO 14443).
While trying to create the key it asked me to touch the device like you would with a Yubikey. But as it is a smartcard there is no "touch" interface and it was not able to complete the creation

[2022-05-16 21:28] NoMoreFood commented on #57
@raphj92 Interesting.  Are you able to use it on FIDO2 / WebAuthn on websites without it needing to do the touch option (e.g. on https://webauthn.io/)?  As far as I know, the WebAuthn library does not give me any way to disable the touch component.

[2022-05-16 21:59] queesamor commented on #57
As far as I know, Google's Titan keys don't have a touch option like Yubikeys, and I know that phone-based FIDO2 keys don't... 🤔

\-------- Original Message --------
On May 16, 2022, 16:28, Bryan Berns < ***@***.***> wrote:

[raphj92]: https://github.com/raphj92
[view it on GitHub]: https://github.com/NoMoreFood/putty-cac/issues/57#issuecomment-1128155394
[unsubscribe]: https://github.com/notifica

[2022-05-16 22:19] NoMoreFood commented on #57
@queesamor A quick glance at the Titan Keys makes it look like they _might_ support it.  The main question I have though (for somebody who owns one of these) is whether the keys work on Windows for WebAuthn against websites.  If they do, then I'm just missing something in the WebAuthn API that should allow it to operate in "no touch" mode.

[2022-05-17 09:05] raphj92 commented on #57
@NoMoreFood
I was able to register and log in on the webauthn.io web site.
When it asked to tap on the security key, I removed the card from the reader  and reinserted it, and it worked.
So I tried the same action on putty-cac when trying to create the key and got a message saying "This security key can't be used. Try another one".
Could it be because there is already a key on the card ?
I tried t

[2022-05-17 11:16] NoMoreFood commented on #57
@raphj92 Interesting.  When you create a key in PuTTY CAC, are you selecting non-resident key?  Some tokens don't support resident keys.  I'll reach out to Thales and see if I can get one of those cards sent to me.

[2022-05-17 16:59] raphj92 commented on #57
@NoMoreFood

I tried both with the same result...

[2022-05-25 17:45] NoMoreFood commented on #57
@raphj92 Thales sent me an SafeNet IDPrime 3940 and it looks like I can reproduce the behavior you describe.  I'll be looking into it over the next few days.  Thanks for your testing thus far.

[2022-05-27 19:24] NoMoreFood commented on #57
PuTTY 0.77 finally released. I merged those changes and created a [pre-release](https://github.com/NoMoreFood/putty-cac/releases/tag/0.77). If anyone could test/retest, I would appreciate it.

[2022-05-31 23:43] #57 closed

[2022-06-01 09:52] neilmw1 opened #93 "CAPI Tools: Smart card setup on 0.77 when YubiKey is used"
I've been doing some testing of the new v0.77 with FIDO2 support which works great (thanks).  I noticed under that there's also a new section for CAPI tools so I tried creating a new certificate through that on my YubiKey.

There seems to be a bug when you choose Smart Card/Token and create the key, the private key is stored on the YubiKey as expected however the actual user certificate is put int

[2022-06-01 10:24] NoMoreFood commented on #93
Interesting.  Sometimes computers have issues automatically importing self-signed from smartcards so it could be that as well.  On the "other" machine, can you try running `certutil -scinfo` and verify that it doesn't see the certificate that way?

[2022-06-09 14:49] usmcguy opened #94 "pterm.exe - Pseudo-console API error"
When executing pterm.exe (both x86 and x64) on a Server 2016, receive the error:

Unable to open connection to
Pseudo-console API is not available on this Windows System

<img width="207" alt="image" src="https://user-images.githubusercontent.com/761929/172875283-1ec6bbf0-a6e6-4e81-8d4d-09089bdd47bb.png">

[2022-06-09 20:41] NoMoreFood commented on #94
Yes, that is a known limitation.  Pseudo-consoles are only available on some operating systems.

[2022-06-15 08:55] assasinfil opened #95 "The ECDSA_P384 certificate with yubikey is not selected."
It is not possible to select a certificate for authorization from the yubikey hardware token. When you select the ECDSA_P384 key, it does not appear in the list. But when choosing rsa, everything is fine.
Putty cac v0.77 (latest release)
Windows 11
OpenSC 0.22.0

[2022-06-15 11:06] NoMoreFood commented on #95
I cannot reproduce any issue with P384 selection, in general.  Can you list the steps in the interface you're going through and which step isn't working as desired?  Not clear whether you're using PuTTY or Pageant and whether it's PKCS / CAPI.  Also which Yubikey model?

[2022-06-15 11:07] NoMoreFood commented on #94
Also, I should have noted that pterm.exe is brand new.  If you're looking for the command line version of PuTTY, it's plink.exe.
 Since this is an upstream / OS limitation that I have no control over, closing this out.

[2022-06-15 11:07] #94 closed

[2022-06-15 11:08] NoMoreFood commented on #93
@neilmw1 Any luck seeing if the certificate appears when you run that command?

[2022-06-16 10:22] NoMoreFood commented on #95
Thank you for clarifying; I was trying with CAPI. I will try out OpenSC with PKCS this weekend.

[2022-06-16 13:14] neilmw1 commented on #93
I'll try to check this out tomorrow, sorry been a little busy! It's a YubiKey 5C NFC also.

[2022-06-18 13:06] NoMoreFood commented on #93
I'm not sure it's related to your issue, but I found some bugs with the CAPI Tools part which I'll have fixed in a few days. Did you have a chance to run certutil -scinfo?

[2022-06-19 13:24] NoMoreFood commented on #95
@assasinfil Can you see if these binaries make any differences for you?  https://github.com/NoMoreFood/putty-cac/tree/master/binaries

Also, I've found the OpenSC PKCS libraries to be buggy / incomplete is some circumstances.  Might be worthwhile testing with the Yubikey PKCS Libary (aka YKCS) available here: https://developers.yubico.com/yubico-piv-tool/Releases/yubico-piv-tool-2.3.0-win64.msi

[2022-06-19 13:26] NoMoreFood commented on #93
@neilmw1 Updated binaries are available here: https://github.com/NoMoreFood/putty-cac/tree/master/binaries

CAPI Tools part has been updated to use a different Windows library for self-signed certificate creation.  The previous implementation was failing on some hardware keys.

[2022-06-23 10:43] NoMoreFood commented on #95
@assasinfil Any luck testing?  Also published this is a pre-release: https://github.com/NoMoreFood/putty-cac/releases/tag/0.77u1

[2022-06-23 13:08] rickatnight11 opened #96 "About page loses PuTTY-CAC reference after 0.77"
On 0.76 and earlier the About page had a useful reference to which build of PuTTY it is, which is easier to check than hunting for a specific feature:

![image](https://user-images.githubusercontent.com/76622/175305677-0a42e5ce-e24a-417a-9abc-68b50271e0c6.png)

....however that reference is lost in 0.77:

![image](https://user-images.githubusercontent.com/76622/175305783-0f3b060d-e456-4ea8-9b08-d7

[2022-06-23 21:51] assasinfil commented on #95
I reinstalled the system. I'll try the binary files you suggested on the weekend.

[2022-06-23 22:49] NoMoreFood commented on #96
Yeah, this is doable.

[2022-06-23 23:29] NoMoreFood commented on #96
@rickatnight11 URL should be there now.

[2022-06-24 12:53] rickatnight11 commented on #96
That's great:

https://github.com/NoMoreFood/putty-cac/commit/b87c7aa9c90b42b2e4aecfe12084f9045deb7506#diff-ce5029cd82fba89c1252adb6124a18b1857815a002a481da794f6e111ec64f3eR3

Thanks so much!

[2022-06-24 19:38] #96 closed

[2022-06-26 08:55] assasinfil commented on #95
This version solves the problem, thank you!

[2022-06-26 10:02] NoMoreFood commented on #95
Thank for you testing!

[2022-06-26 10:02] #95 closed

[2022-06-26 10:19] NoMoreFood commented on #28
@RufusJWB Would you mind updating chocolatey for 0.77.0.1?

[2022-06-27 16:07] RufusJWB commented on #28
This is a problem since I've switched from Chocolatey to MS Winget and I don't have the Chocolatey tool chain anymore installed. I'll re-install it and build a new package. This will take some days.

[2022-06-27 22:49] NoMoreFood commented on #28
@RufusJWB Sure, I can take it over - let me know what you need to do that.  I'm already doing the winget package and I imagine the process is similar.

[2022-06-28 07:46] RufusJWB commented on #28
I have prepeared a step-by-step documentation under https://github.com/RufusJWB/puTTY-CAC-Chocolatey/blob/master/README.md . If you don't mind, I would set up a conference call with you when I prepare the next time a chocolatey package and we go through it together. What do you think?

[2022-06-28 07:48] RufusJWB commented on #28
Or we create a GitHub Action to automatically build the chocolatey package. Did you ever do something like this before?

[2022-06-28 11:27] RufusJWB commented on #28
@RufusJWB I glued everything together in a GitHub Action: https://github.com/RufusJWB/puTTY-CAC-Chocolatey/blob/master/.github/workflows/buildPackage.yml I'll create a PR to bring it together with this repro

[2022-06-28 11:46] RufusJWB commented on #28
You will need to create a `secret` with the name 'CHOCOAPIKEY` which holds your Chocolatey API key.

[2022-06-28 20:02] xeniphon opened #98 "configuration window freezes when I either attempt to "Set CAPI Cert" or "Set FIDO Key""
When I attempt to use either 0.77  or 0.77-1 with my PIV, I am never prompted to select the key.  After I poke the "Set CAPI Cert" the UI locks up.  No combination of alt-tab, drag-and-drop, or task-view makes it visible, and I can no longer move the putty window around on the screen.  0.76-4 still functions exactly as I expect.  The FIDO button does exactly the same thing as the CAPI button.

[2022-06-29 00:57] NoMoreFood commented on #98
Okay thank you for the information.  Do you have any smartcard middleware installed like ActivClient and, if so, what version?

[2022-07-10 15:12] al20878 opened #99 "Windows 7: PIV card PIN dialog missing input field"
Installed 0.77-1 64 bit (on Win 7) and could not login using my PIV card, the dialog is missing the PIN input field...  Rolled back to .76-4 and it works fine again..
![PuTTY-77-1](https://user-images.githubusercontent.com/44822487/178150766-951d3377-2b55-4cf8-a955-ac3c950894c6.png)
.

[2022-07-10 15:14] al20878 commented on #99
This is how it should look like (and does so in .76-4):
![PuTTY-76-4](https://user-images.githubusercontent.com/44822487/178150852-c095b74b-675c-41f7-aeb2-334d5c826eb9.png)

[2022-07-10 16:17] NoMoreFood commented on #99
I had previously updated the OS requirements for 0.77 to list Windows 10+ since I can't continue to support testing on every OS variant, but I'll take a look at this time permitting.

[2022-07-10 18:31] NoMoreFood commented on #99
@al20878 Actually I looked back and this is almost certainly related a special Windows 7 related conditional that wasn't ported over in the 0.77 release.  If you'd like, I can merge it into an interim build that you can download but I will not be creating an "official" release to address this until there are more changes necessary to warrant it.

[2022-07-10 18:53] al20878 commented on #99
Thank you for looking into this!  I'm fine with .76-4, so there's no pressing issue for me here, and I won't even request a special interim build for that.  Do I understand this correctly that the special conditional is still going to be merged back to .77-x (whenever it's coming out) so that PyTTY-CAC has a good chance to be usable again on Win 7?  Or should I just stick with .76-4?

[2022-07-10 19:24] NoMoreFood commented on #99
Yes, I'm very confident the CAPI/PKCS portion will work with Windows 7 after that change. So it'll eventually make it to 0.77u2 or 0.78 -- whichever comes first.

[2022-07-10 19:29] al20878 commented on #99
Awesome!  Thanks again for all your help!

[2022-07-12 00:03] al20878 commented on #99
I'm sorry, the behavior of what?

[2022-07-12 02:12] NoMoreFood commented on #99
Sorry, I should have been clearer.  The behavior of 0.77u1 without any code changes.  In short, PuTTY enables some application security features in Windows that are causing this behavior. Windows 7 started supported those security features very late in the game and Microsoft apparently didn't test them out with PIN prompts (which is causing the behavior you see).  Previously I had fixed them by ju

[2022-07-14 18:21] #98 closed

[2022-07-17 17:23] al20878 commented on #99
Sorry about the delay in response...  I downloaded a single putty.exe executable (.77-1) [vs. the installation package as I usually do], ran it from my Downloads folder, and verified that there's still no PIN code entry in the PIV card dialog that it shows...

Then I ran this (as instructed):
[code]
(it did not produce any output other than shown).

And then I re-ran the same standalone binary.  W

[2022-07-23 18:36] NoMoreFood commented on #99
@al20878 While arguably the "better" solution from a cybersecurity perspective, I agree this isn't the best long term solution for continued Windows 7 support. It was more academic. Thank you for testing it.

[2022-08-25 16:24] ajf8 opened #100 "Importing OpenSSH ecdsa-sk key crashes Puttygen"
Hi,

Thanks so much for supporting FIDO tokens (I'm using one called a trustkey), it's really excellent. Would it be possible to support importing existing OpenSSH ecdsa-sk keys into putty-cac?

I attempted this to import it as an OpenSSH key in Puttygen but it just crashed. Apologies, I can't get a crash report out of the particular network I was testing on and don't have a Windows machine at hom

[2022-08-25 22:27] NoMoreFood commented on #100
@ajf8 PuTTY CAC really don't have any special features/capability within PuTTYgen.  For ease of maintanance, most of the creation/import capabilities are housed in the normal PuTTY application. Have you tried the 'Import Keys' there?  You shouldn't even need the original file for resident keys; it will read them from the token directly.

![image](https://user-images.githubusercontent.com/12881023/

[2022-08-26 00:01] NoMoreFood commented on #99
@al20878 Can you verify these binaries also address your issue: https://github.com/NoMoreFood/putty-cac/tree/master/binaries

[2022-08-26 11:42] ajf8 commented on #100
Thanks. I have, unfortunately the issuer of the key didn't and won't provide the PIN. It was given to me with a SSH key associated with my identity and I was provided the OpenSSH key files.

It works great when I create a new key, but I was hoping to use my existing key file in OpenSSH format. Perhaps this makes no sense at all and I should have the PIN.

[2022-08-26 14:23] jktrigg opened #101 "Win10: Pageant - Windows Security dialog does not display when adding certs/keys"
When I select Add CAPI Cert or Add FIDO Key, nothing happens. Add PKCS Cert does open a file chooser.

[2022-08-26 22:29] NoMoreFood commented on #101
Can you include anything about what version you're using or anything that might be unique about your environment?

[2022-08-26 22:31] NoMoreFood commented on #100
@ajf8 Yeah, that is a bit unusual of an usual scenario.  I will ponder how we might be able to satisfy your use case.

[2022-08-30 10:59] ajf8 commented on #100
FWIW after having a read of puttyimp.c and OpenSSH's PROTOCOL.u2f docs I found a hacky way to import the key - read the private key using a python module called openssh-key-parser to extract the key_handle (credential id) and public key bytes (just the q/ec_point without OpenSSH specific headers), then convert them into hex and generate a .reg file (using a .reg export of my working key generated

[2022-08-31 10:36] NoMoreFood commented on #100
@ajf8 Impressive reverse engineering; wish all the people that submitted issues were as savvy ;-) I will likely add some similar functionality to PuTTY CAC interface in the next coming weeks so let's leave this issue open to track it.

[2022-08-31 14:25] al20878 commented on #99
Thanks!  I have just verified the new .77u2 PuTTY-CAC binary, and happy to report that the PIV card popup appears normally there, allowing me to enter my PIN and login successfully.  BTW I did so on a PC, which wasn't patched with the registry tweaks per the instructions included previously in this thread.

[2022-09-01 21:19] ajf8 commented on #100
it was a fun little problem to solve and I learned some useful things about FIDO authentication :)

Thank you for considering the feature request even if it seems like a weird scenario to not have the PIN, whenever you feel like having a go I can try to test it. I'm not sure as I'm no expert in this field, but having SSH key set on a user token at the time it is issued to them and not giving them

[2022-09-04 00:13] NoMoreFood commented on #100
@ajf8 Can you try the most recent binaries here: https://github.com/NoMoreFood/putty-cac/tree/master/binaries

I added an 'Import Key File...' button within PuTTY's FIDO tools.

Yes, I imagine that could be done.  This concept very similar to how several organizations are doing multi-factor authentication, but instead using the public key associated with certificate keypairs that are delivered wit

[2022-09-04 00:14] NoMoreFood commented on #99
Thanks for testing. I'm going to close this issue.  The change will be in the next official release.

[2022-09-04 00:14] #99 closed

[2022-09-05 12:51] NoMoreFood commented on #101
@jktrigg Are you still having this issue?

[2022-09-06 21:26] ajf8 commented on #100
Wow thanks @NoMoreFood . I'm just waiting on getting the updated binaries in the place needed and then I will give it a try, or I may setup a Windows VM at home. Looks great, I was wondering what that byte at the start of the public key I had to throw away was for, the compression type.

[2022-09-13 14:07] dc-avasilev commented on #101
yes i have this problem too

[2022-09-13 23:27] NoMoreFood commented on #101
@dc-avasilev What build of Windows 10 are you on?  Are you using any special software like ActivClient? Do you see the behavior in both PuTTY and Pageant?  I would love to help but I need some additional details to try to reproduce the issue.

Also, can you verify the pre-release version still has the issue? https://github.com/NoMoreFood/putty-cac/blob/master/binaries/puttycac-64bit-0.77u2-install

[2022-09-14 13:28] dc-avasilev commented on #101
FYI @NoMoreFood

Edition	Windows 10 Enterprise
Version	21H2
Installed on	‎30.‎05.‎2022
OS build	19044.1288
Experience	Windows Feature Experience Pack 120.2212.3920.0

yes, SafeNet Auth... Client

yes

what details do u need, ask me

in version https://github.com/NoMoreFood/putty-cac/blob/master/binaries/puttycac-64bit-0.77u2-installer.msi pageant is crashing after start every time

[code]

[2022-09-14 22:05] n00b42 commented on #17
I wanted to point to a modified version of putty that allows to store config in files: https://jakub.kotrla.net/putty/

I used it for a long time without issues, and totally forgot that it was a modified version. Until I switched to putty-cac to use my security key and then realized that the local file conf does not work anymore.

Maybe that might be an option?

[2022-09-15 10:50] NoMoreFood commented on #101
@dc-avasilev Interesting, I cannot reproduce the crash either. Thanks, I'll try with the SafeNet authentication client installed and see if that makes a difference. Was there an older version that worked well for you?

[2022-09-15 11:12] NoMoreFood commented on #101
Darn.  No repro with Windows 10 + SafeNet Auth Client + Experience Windows Feature Experience Pack.  I didn't try those specific versions though. For the Pageant crash issue (with may or may not be related), can you try the attached file and
[pageant.zip](https://github.com/NoMoreFood/putty-cac/files/9574636/pageant.zip) and reply with the dump file it produces when it crashes.  https://helgeklein

[2022-09-21 15:20] dc-avasilev commented on #101
in my scenario, it does not crash, but just freezes tightly, as if an eternal loop when trying to open the certificate selection window, so I can’t provide any dumps, sorry

[2022-09-21 21:37] NoMoreFood commented on #101
@dc-avasilev Alright, I'll try to think of a different approach. Earlier when you said "if you install on a non-standard path, then everything works", are you saying that instead of installing to "C:\Program Files\PuTTY", literally installing anywhere else works better?

[2022-09-21 21:46] dc-avasilev commented on #101
@NoMoreFood I work in a domain network and my user has limited rights to folders on the computer, but there are no restrictions on the user profile folder, so I just install putty-cac in my user profile and everything works fine, example "C:\Users\username\putty"

[2022-09-21 21:50] dc-avasilev commented on #101
@NoMoreFood maybe it will be useful for information, the root certificate is associated with a usb token

[2022-09-21 23:26] NoMoreFood commented on #101
@dc-avasilev The USB token part shouldn't really play into it.  I thought you mentioned before that it crashed:

[2022-09-21 23:30] dc-avasilev commented on #101
@NoMoreFood ah, sorry, I already deleted this version, maybe I'll try again next weekend

[2022-09-30 17:56] dkalog opened #102 "Win10 plus Pageant using fido key fails"
Hi ,
Many Kudos  for Putty CAC,

I am using a yubikey nfc5 .  My key hosts, among others, a  FIDO key. I have managed to  ssh to a remote server using the latest microsoft openssh client and a debian opensshd server in (password-less) key based authentication. (So I have a working "pair"). However when I try to use the fido CAPI, it fails. (As I have multiple keys on the server, I have verified th

[2022-09-30 18:07] NoMoreFood commented on #102
You've mentioned FIDO, CAPI and implied your using PKCS (by the use of libykcs11.dll).  These are all different ways to communicate with your key.  Can you provide screenshots or the specific commands of what works with the Microsoft SSH client?  Can you also screenshot the list of keys showed in Pageant and what option you used to add it?

[2022-10-01 13:34] dkalog commented on #102
Hi Bryan

From a windows terminal

C:\Users\Dimitris\.ssh>ssh-add -L
ssh-rsa
AAAAB3NzaC1yc2EAAAABIwAAAQEAzIaQ0AeVVJ3lbbWGcQkrHc/H4cv0q7/gcwls6pJZSARQkbveFRf6rs9fgEyu40pKVQo/pJyEsecNDx/EFeq9W4XYQoJBsFpwsOFl04Mg9oRYwpEpbYasGpcfatWHQI/d+Zt9pHk5E5vcDx39j7J/QA6sDp8mWJ0/gD4VES20X7bOi+yZkR6B9PqaA3W6qtJ49SCCDE3XZrJSvuV3HsHvQJ3cH+pzf5oC6tKtBQ7NnfCXNEqhEFDsnNFtVB4UakJWprjJqgNephBcHNV9B3OJiKuS6lB2iV4f6InTwtk

[2022-10-01 19:27] NoMoreFood commented on #102
Your screenshots did not render.  Can you try updating/editing your last post using the website?

[2022-10-02 08:06] dkalog commented on #102
From a windows terminal

C:\Users\Dimitris\.ssh>ssh-add -L
ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAzIaQ0AeVVJ3lbbWGcQkrHc/H4cv0q7/gcwls6pJZSARQkbveFRf6rs9fgEyu40pKVQo/pJyEsecNDx/EFeq9W4XYQoJBsFpwsOFl04Mg9oRYwpEpbYasGpcfatWHQI/d+Zt9pHk5E5vcDx39j7J/QA6sDp8mWJ0/gD4VES20X7bOi+yZkR6B9PqaA3W6qtJ49SCCDE3XZrJSvuV3HsHvQJ3cH+pzf5oC6tKtBQ7NnfCXNEqhEFDsnNFtVB4UakJWprjJqgNephBcHNV9B3OJiKuS6lB2iV4f6InTwtkLeyMMXAUeE

[2022-10-02 12:10] NoMoreFood commented on #102
Okay, I think the thing that stands out to me is that it's loaded the key as `FIDO:ssh` instead of `FIDO:ssh:idp`.  I will try to reproduce this.  How was the key loaded imported into the PuTTY CAC?  Using the `FIDO Tools` -> `Import Keys...`?

[2022-10-03 09:09] dkalog commented on #102
Hi ,

I have managed/(lucky enough) to troubleshoot this. I tried today two different ways of importing the Fido Keys.
a) Import keys from putty ( which asked me to provide the PIN but  ended with the same faulty behavior asking for password

b) via Pageant-CAC, selecting:  add FIDO key which asks for selecting a FIDO ssh certificate. Pageant-CAC DID not ask for PIN KEY !!  THIS certificate is dif

[2022-10-03 14:49] dkalog commented on #102
Hi again

I have updated with new info regarding the FIDO ssh key.. I can't
understand how putty cac generates this new certificate which is different
from the one via ssh-keygen ..

Kind regards
Dimitris

Dimitrios K. Kalogeras

Electrical Engineer Ph.D.
Network Engineer
_____________________________________
skype: aweboy
voice: +30-210-772 1863
fax:     +30-210-772 1866
e-mail: ***@***.***

On S

[2022-10-03 21:58] NoMoreFood commented on #102
For the "sk-ecdsa-sha2-nistp256" authentication method, there is no real certificate when using FIDO, only a public key / private key.  This keypair is actually generated by the card itself (not PuTTY or ssh-keygen).  The certificate that can be displayed in PuTTY / Pageant is just a means to provide information to the user.

In general, the best way to have keys be importable into PuTTY is to use

[2022-10-14 12:50] jacob-pro opened #103 "Pageant no longer prompting for PIN - Select smart card device / smart card is ready for use"
Hi,

Suddenly pageant has stopped prompting me for a PIN, instead giving this window:

![image](https://user-images.githubusercontent.com/16433349/195850779-04677ea2-1932-4120-95f5-ad24653a86ba.png)

I can keep clicking OK a few times and then it gives up - and does not allow me to authenticate.

`Server refused public-key signature despite accepting key!`

Any help would be greatly appreciated

P

[2022-10-14 14:31] jacob-pro commented on #103
After a number of restarts and switching user accounts this seems to have resolved itself - I have no idea what the root cause was though 😕

[2022-10-14 18:00] bpfoley45 opened #104 "pageant.exe no longer honors -certauthprompting switch"
prior versions of pageant (such as 0.76u4) can be launched with the -certauthprompting switch which enables the pop-up prompt with PIN input. It also appears to set the following reg: 'HKCU:\software\SimonTatham\PuTTY\CertAuthPrompting' to a value of 1

Newer versions, 0.77 and above do not seem to honor this, and in fact the application just fails to start.

Can this be restored?

[2022-10-14 21:37] NoMoreFood commented on #103
Once you see that screen it's pretty much in Windows' hands to perform a signing operation so maybe a service was stalled.  Can we close issue this if it's no longer occurring?

[2022-10-14 21:42] jacob-pro commented on #103
Sure I will close it 👍

In case this is useful to anyone else - somebody has told me that updating the YubiKey Minidriver and OpenSC Toolset can fix the issue if it is re-occurring.

[2022-10-14 21:42] #103 closed

[2022-10-14 22:06] NoMoreFood commented on #104
@bpfoley45 Can you see if these binaries address your issue?

https://github.com/NoMoreFood/putty-cac/tree/master/binaries

[2022-10-15 12:46] #102 closed

[2022-10-15 12:48] NoMoreFood commented on #100
@ajf8 Any luck testing this?

[2022-10-17 19:41] ajf8 commented on #100
Hi @NoMoreFood sorry for the delay on testing, it did me take a while to get hold of the updated binaries internally and then was busy, but I tested it properly today and it works great! Thank you for taking the time to implement it.

[2022-10-17 21:23] NoMoreFood commented on #104
Okay, going to close this issue.  Release will be in the next week or two.  Thanks!

[2022-10-17 21:23] #104 closed

[2022-10-17 21:23] NoMoreFood commented on #100
Okay, going to close this issue.  Release will be in the next week or two.  Thanks!

[2022-10-17 21:23] #100 closed

[2022-10-31 07:57] bluikko opened #105 "PuTTY 0.78 installer and old versions"
The release notes for PuTTY 0.78 list that older versions won't be uninstalled:
[code]

I would suggest that PuTTY-CAC MSI installers **will continue** to uninstall old versions. This will make it much easier to keep it updated as most users will likely not care for old versions.

[2022-10-31 11:39] NoMoreFood commented on #105
@bluikko I'll see what I can do.  I really don't muck with the installer logic much currently, but if I can make it uninstall the older versions easily I will. PuTTY CAC 0.78 should be out in the next few days.

PuTTY 0.78 supports signed OpenSSH certs which _might_ have some usefulness for PuTTY CAC depending on how the signing process works, but I will have to save that investigation for an upda

[2022-11-03 03:59] andreydanil commented on #105
Any ETA on the 0.78 builds? I see that the 0.78 code has been merged, however, I'm having build issues.

I do have the **Prerequisites** installed
* Visual Studio 2022 with C++ Desktop Application Development
* WiX Toolset (to build the MSI files) - wix311.exe
* Windows PowerShell (to build the MSI/ZIP/Hash files)

To build, I'm running:
* Execute 'packager\build.cmd' to create build files

I also

[2022-11-03 11:29] NoMoreFood commented on #105
@andreydanil

1. Try grabbing the latest files. Apparently the upstream code had an improper .gitignore entry that was preventing a file relevant to the Make process from getting committed. I will report that issue to the PuTTY maintainer.
2. Probably this weekend. I need to do some more concerted testing and want to try to address the behavior that @bluikko mentioned.

[2022-11-03 14:20] andreydanil commented on #105
@NoMoreFood thank you Bryan. The latest code doesn't throw the build issues. I appreciate the quick help!

[2022-11-06 14:24] NoMoreFood commented on #105
@bluikko I didn't agree with the upstream change that incidentally prevented the installer from upgrading/uninstalling previous versions so I just didn't merge that part.  If you want you can validate using the pre-release: https://github.com/NoMoreFood/putty-cac/releases/tag/0.78

[2022-11-06 14:54] NoMoreFood commented on #101
Bump. I'll see someone to help me debug this is you're still seeing an issue (ideally after testing with the latest version). Even virtual meeting might be good if possible.  If nobody is interested anymore, I'll close out this issue.

[2022-11-08 09:40] dc-avasilev commented on #101
I am interested in a solution but there is no time yet

[2022-11-09 16:19] wmagb commented on #101
I am having this issue with 0.77u2 x64 on Windows 10 Enterprise, we have ActivClient 7.2.1.68.

Edition	Windows 10 Enterprise
Version	21H1
Installed on	‎5/‎31/‎2021
OS build	19043.2132
Experience	Windows Feature Experience Pack 120.2212.4180.0

I open pageant, go to View keys and Certs, click Add CAPI Cert, and it freezes. I have to go to Task Manager and end pageant.

This is the installed versio

[2022-11-09 22:35] NoMoreFood commented on #101
@wmagb Are you using it with DoD CACs?  I want to try to replicate your setup as best I can.  Also, what antivirus are you running?

[2022-11-10 02:08] wmagb commented on #101
Yes we are using with DoD CACs. We are running McAfee Endpoint Security 10.7.0. Sure, I can test.

![image](https://user-images.githubusercontent.com/30704117/200983003-ce1a9888-b796-4dc5-908f-aaa5f4180830.png)

[2022-11-10 22:04] NoMoreFood commented on #101
@wmagb  Could you try the attached files and let me know the last few messages you get before it hangs?

[puttycac-0.78-testset.zip](https://github.com/NoMoreFood/putty-cac/files/9984920/puttycac-0.78-testset.zip)

[2022-11-10 22:31] dutchthomas commented on #101
This might not be very helpful, but I bisected it to this commit
https://github.com/NoMoreFood/putty-cac/commit/3ea27f0489a9193eaf079e42725d7a69062b0dc5

[2022-11-11 16:40] NoMoreFood commented on #101
@dutchthomas Thanks. I'll take a look at the PuTTY CAC related changes during that commit to see if they are material.  Simon (PuTTY maintainer) did a huge refactor at that point so it's possible it's something in there that I have to work around.  If you wouldn't mind trying out the binaries I provided for @wmagb that would be helpful as well so I know where in the code it might be getting hung u

[2022-11-16 15:35] wmagb commented on #101
The last few messages are:
Cert Prompt 3 - Cert Found Loop
Cert Prompt 4 - Cert Add To Memory Store
Cert Prompt 5 - Select Cert List

Then it freezes, the window loses focus, and I have to go to Task Manager to end it.

[2022-11-16 20:15] NoMoreFood commented on #101
@wmagb Alright, that makes sense.  For some reason the foreground window on your computer must point to a location the Microsoft certificate selection function does not like. I'll give you an alternate version to test in a few hours.

[2022-11-16 23:59] NoMoreFood commented on #101
@wmagb I updated the debug version.  I'm especially interested in the four message boxes right before the certificate selection popup (or the hang --- whatever comes first).   This _may_ also happen to address the issue (let me know if it does), but it's more of a workaround.

[puttycac-0.78-additionaldebug.zip](https://github.com/NoMoreFood/putty-cac/files/10026542/puttycac-0.78-additionaldebug.z

[2022-11-17 01:07] wmagb commented on #101
Cert Prompt 5 - Select Cert List
Window Visible True
Window Iconic False
Window Valid True
Window Enable True
Then another window opens off screen, to select the cert or key, I can't see it until I hover the mouse over the pageant icon in the taskbar.

[2022-11-18 02:49] NoMoreFood commented on #101
@wmagb I am somewhat at a loss; I have your configuration replicated identically but cannot reproduce the behavior.  From the debug messages, I know generally what's going on -- for whatever reason the foreground window being assigned to the certificate dialog must somehow be offscreen (or somewhere you can't see it).  The program isn't really hanging... it's just asking you to select a certificat

[2022-11-18 03:31] jktrigg commented on #101
Okay, I've seen this with other programs. It usually has to do with your display topography having changed since you ran the program previously.

Thanks,
Jim Trigg

On November 17, 2022 9:50:07 PM EST, Bryan Berns ***@***.***> wrote:
***@***.*** I am somewhat at a loss; I have your configuration replicated identically but cannot reproduce the behavior.  From the debug messages, I know generally wh

[2022-11-18 12:43] NoMoreFood commented on #101
Thanks @jktrigg.  Accordingly... if someone with the issue is able to, I'm curious if trying on a fresh profile in Windows will address it since a fresh profile should have no record of previous window positioning.

[2022-11-18 12:44] NoMoreFood commented on #105
I released 0.78 which I don't think will have this issue... so closing this for now.

[2022-11-22 12:37] rbability opened #106 "v0.78 + YubiKey + Fido + RDP USB Redirection works a bit... but not completely."
This is probably a very niche scenario, so I do not expect this to get solved. But maybe it works for someone and can let me know the tricks to do.

Environment:
- PuTTY CAC 0.78
- Windows 11 Client
- Windows Server 2019 Remote Desktop
- YubiKey 5 NFC
- Generated Resident FIDO Key within PuTTY CAC on my YubiKey

What works:
Starting PuTTY on Windows 11 where the YubiKey is plugged in and using FID

[2022-11-22 12:51] NoMoreFood commented on #106
It's possible some of the Webauthn APIs we use in PuTTY CAC don't exist in Windows Server 2019. The libraries evolved in Windows 10 over time and Windows Server 2019 is comparable to the first version of Windows 10.  Do you know if Server 2022 behaves any differently?

[2022-11-22 13:06] rbability commented on #106
That´s a very good point I did not think about! I should be able to set up a test bed with a Server 2022 RDS Host, but this might take a few days. But I will look into that. Thank you very much :-)

[2022-11-22 21:56] wmagb commented on #101
Fresh profile, fresh machine, didn't matter. We tried a few different versions, including the latest 0.78, to no avail. We have rolled back to 0.76u4, which works just fine.

[2022-11-23 12:52] NoMoreFood commented on #101
Is it just the certificate selection dialog box? If you use the configuration for 0.76u4, does 0.78 correctly prompt for the PIN?

[2022-11-23 14:17] rbability commented on #106
Good news! It works with a Windows Server 2022 RDS Host... with a little Surprise, but it works ;-)

To give an overview of the Setup:
- Windows 11 Client, enabled for RemoteFX USB Redirect
- Windows Server 2022 RDS Host, enabled for RemoteFX USB Redirect
- YubiKey 5 NFC plugged into the W11 machine
- RDS Host is a VM

You connect via RDP to the RDS Host while the YubiKey is plugged in and in the

[2022-11-23 23:56] NoMoreFood commented on #101
@wmagb Can you try this version? It more closely resembles the window location approach in 0.76u4.

[puttycac-0.78u1-newbehavior.zip](https://github.com/NoMoreFood/putty-cac/files/10079834/puttycac-0.78u1-newbehavior.zip)

[2022-11-24 07:23] #106 closed

[2022-11-25 19:45] wmagb commented on #101
@NoMoreFood just tried it, didn't work. Same issue.

[2022-11-25 20:06] NoMoreFood commented on #101
@wmagb Now that surprises me. To be clear, you were testing the 'Add CAPI Cert' functionality within Pageant either through the right-click menu or the "View Keys & Certs" dialog interface?  That was the main change I made.

[2022-11-27 06:10] wmagb commented on #101
@NoMoreFood that is correct. Launch pageant, right-click, View Keys & Certs, Add CAPI Cert.

[2022-11-27 20:32] NoMoreFood commented on #101
@wmagb I'll continue to ponder. It might help to do a Teams call if you can share out a machine where the problem is occurring.  If you're willing to pursue this, shoot me an email at Bryan.Berns@unnpp.gov

[2022-11-28 22:39] enzain opened #107 "Support pkcs11 keys (without certs)"
Hello,
Can be added support pkcs11 keys without certs?
As openssh

[2022-11-29 09:56] NoMoreFood commented on #107
It certainly is technically possible, but something like this I probably would get to for at least several months.  Just too much going on.

[2022-11-29 11:27] enzain commented on #107
Also be nice if it be realised as openssh client (automatic select needed key pair from token over pkcs11) when select dll or so file for pkcs

It's just for wait or not this feature .. now standard ssh client on windows and linux can use keys over pkcs11 )

Thanks!